<!DOCTYPE html>
<html>
<head>
    <title>Sajjad Hossain</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="logo">
    <img src="{{ url_for('static', filename='profile.png') }}" alt="Sajjad Logo">

    <div class="logo-text">
        <h1>Sajjad Hossain</h1>
        <p class="title">Developer</p>
    </div>
</div>

<div class="sidebar">
    <a href="/" class="{% if active_page == 'home' %}active{% endif %}">Home</a>
    <a href="/about" class="{% if active_page == 'about' %}active{% endif %}">About</a>
    <a href="/projects" class="{% if active_page == 'projects' %}active{% endif %}">Projects</a>
    <a href="/photos" class="{% if active_page == 'photos' %}active{% endif %}">Photos</a>
    <a href="/videos" class="{% if active_page == 'videos' %}active{% endif %}">Videos</a>
    <a href="/contacts" class="{% if active_page == 'contacts' %}active{% endif %}">Contacts</a>
</div>

    <!-- Hero Section -->
    <section class="hero">
        <h1>Welcome to my Website</h1>
        <p>I am learning Flask Web Development and building cool projects.</p>
    </section>

</body>
</html>
